.menu {
  display: flex;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity .15s ease;
}

.menu__link_role_signin {
  width: 76px;
  font: 500 12px/16px 'Inter', 'Arial', sans-serif;
  color: #000;
  background-color: #2be080;
  border-radius: 3px;
}

.menu__link_role_signup {
  margin-right: 30px;
  font: 500 12px/16px 'Inter', 'Arial', sans-serif;
  color: #fff;
  background-color: #073042;
}

.menu__link_role_films {
  margin-right: 20px;
  font: 500 14px/18px 'Inter', 'Arial', sans-serif;
  background-color: #fff;
}

.menu__link_role_saved-films {
  margin-right: 62px;
  font: 400 14px/18px 'Inter', 'Arial', sans-serif;
  background-color: #fff;
}

.menu__link_role_accaunt {
  width: 100px;
  font: 500 14px/16px 'Inter', 'Arial', sans-serif;
  background-color: #fff;
}

.menu__link:hover {
  opacity: .7;
}