.profile {
  margin: 0;
  padding: 110px 70px 0;
}

.profile__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0;
  padding: 0;
}

.profile__column-left {
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.profile__column-right {
  max-width: 270px;
  margin: 0;
  padding: 0;
}

.profile__content-title {
  margin: 0;
  padding: 0;
  font: 400 50px/58px 'Inter', sans-serif;
}

.profile__content-about {
  margin: 18px 0 0;
  padding: 0;
  font: 500 18px/20px 'Inter', sans-serif;
}

.profile__content-text {
  margin: 26px 0 56px;
  padding: 0;
  font: 400 14px/22px 'Inter', sans-serif;
}

.profile__link {
  font: 500 14px/17px 'Inter', sans-serif;
  color: #000;
}

.profile__link:hover {
  opacity: .7;
}

.profile__foto {
  margin: 0;
  padding: 0;
  width:270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}