.portfolio {
  margin: 0;
  padding: 100px 70px 125px;
}

.portfolio__title {
  margin: 0 0 50px;
  padding: 0;
  font: 400 18px/20px 'Inter', 'Arial', sans-serif;
  color: #a0a0a0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
}

.portfolio__link:hover {
  opacity: .7;
}

.portfolio__list {
  margin: 0;
  padding: 0;
}

.portfolio__list-item {
  margin: 0;
  padding: 19px 0;
}

.portfolio__link-text {
  margin: 0;
  padding: 0;
  font: 400 30px/50px 'Inter', 'Arial', sans-serif;
  color: #000;
  letter-spacing: -.04em;
}

.portfolio__link-arrow {
  align-self: center;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background: url(../../images/link.svg) center no-repeat #fff;
  background-size: cover;
}

@media screen and (max-width: 769px) {
  .portfolio {
    padding: 90px 50px;
  }

  .portfolio__link-text {
    font: 400 28px/50px 'Inter', 'Arial', sans-serif;
  }

  .portfolio__link-arrow {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 580px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__title {
    margin: 0 0 40px;
    font: 400 14px/20px 'Inter', 'Arial', sans-serif;
  }

  .portfolio__link-text {
    font: 400 18px/28px 'Inter', 'Arial', sans-serif;
  }

  .portfolio__link-arrow {
    width: 14px;
    height: 14px;
  }
}
