.menu__link_role_movies {
  margin: 0 8px 0 62px;
  padding: 0;
  font: 500 13px/18px 'Inter', 'Arial', sans-serif;
  color: #000;
  background-color: #fff;
}

.menu__link_role_saved-movies {
  margin: 0 0 0 8px;
  padding: 0;
  font: 400 13px/18px 'Inter', 'Arial', sans-serif;
  color: #000;
  background-color: #fff;
}

.menu__link_role_accaunt {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0;
  padding: 0;
  font: 500 14px/16px 'Inter', 'Arial', sans-serif;
  color: #000;
  background-color: #fff;
}