.page {
  background-color: #073042;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 70px;
}

@media screen and (max-width: 1279px) {
  .container {
    padding-right: calc((100% - 880px) / 2);
    padding-left: calc((100% - 880px) / 2);
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding: 0;
  }
}