.menu__link_role_signin {
  width: 76px;
  height: 32px;
  font: 500 12px/16px 'Inter', 'Arial', sans-serif;
  color: #000;
  background-color: #2be080;
  border-radius: 3px;
}

.menu__link_role_signup {
  height: 32px;
  margin-right: 30px;
  font: 500 12px/16px 'Inter', 'Arial', sans-serif;
  color: #fff;
  background-color: #073042;
}

@media screen and (max-width: 580px) {
  .menu__link_role_signin {
    padding: 0 14px;
    width: 54px;
    height: 26px;
    font: 500 10px/16px 'Inter', 'Arial', sans-serif;
  }

  .menu__link_role_signup {
    margin-right: 14px;
    height: 26px;
    font: 500 10px/16px 'Inter', 'Arial', sans-serif;
  }
}
