.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 70px;
  background-color: #073042;
  height: 74px;
}

@media screen and (max-width: 580px) {
  .header {
    margin: 0;
    padding: 28px 0 31px;
  }
}