.techs {
  margin: 0;
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__content-title {
  margin: 90px 0 0;
  padding: 0;
  font: 400 50px/58px 'Inter', sans-serif;
  text-align: center;
}

.techs__content-text {
  margin: 26px auto 0;
  padding: 0;
  max-width: 500px;
  font: 400 14px/20px 'Inter', sans-serif;
  text-align: center;
}

.techs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 690px;
  margin: 100px auto 0;
  padding: 0;
}

.techs__list-item {
  width: 90px;
  height: 60px;
  margin: 0;
  padding: 21px 0;
  box-sizing: border-box;
  font: 400 14px/17px 'Inter', sans-serif;
  text-align: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  list-style-type: none;
}
