.about-me {
  margin: 0;
  padding: 110px 70px 0;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0;
  padding: 0;
}

.about-me__column-left {
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.about-me__column-right {
  max-width: 270px;
  margin: 0;
  padding: 0;
}

.about-me__name {
  margin: 0;
  padding: 0;
  font: 400 50px/58px 'Inter', sans-serif;
}

.about-me__info {
  margin: 18px 0 0;
  padding: 0;
  font: 500 18px/20px 'Inter', sans-serif;
}

.about-me__text {
  margin: 26px 0 57px;
  padding: 0;
  font: 400 14px/22px 'Inter', sans-serif;
}

.about-me__link {
  font: 500 14px/17px 'Inter', sans-serif;
  color: #000;
}

.about-me__link:hover {
  opacity: .7;
}

.about-me__foto {
  margin: 0;
  padding: 0;
  width:270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 769px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__column-left {
    max-width: 364px;
  }

  .about-me__name {
    font: 400 40px/40px 'Inter', sans-serif;
  }

  .about-me__info {
    margin: 16px 0 0;
    font: 500 12px/18px 'Inter', sans-serif;
  }

  .about-me__text {
    margin: 20px 0 34px;
    font: 400 12px/18px 'Inter', sans-serif;
  }

  .about-me__foto {
    width: 255px;
    height: 307px;
  }
}
